Requirements(libraries):
pywin32
pynput
cryptography         //Optional
pillow		
requests
scipy			   //Optional

Description:
This project is to understand and show how a hacker managed to steal a data by using G-mail as a medium and scripts.
Read Email.py and keylogg.py for more details.


NOTE: 
I do not support hacking or illegal activities, this is just to show how a hacker fetches the data.

Softwares used:
pyCharm and the above mentioned requirements,
auto-py-to-exe

Languages used:
python